body {
    font-family: Arial, sans-serif;
    background: #0f0e0e;
    margin: 0;
    padding: 20px;
    text-align: center;
}

.title {
    color: #f4f6f8;          /* Dark professional blue */
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 25px;
    text-align: center;
}


.filter-buttons button {
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 equal columns */
    gap: 20px;
    margin-top: 30px;
}


.gallery img {
    width: 100%;
    height: 260px;          /* Bigger fixed height */
    object-fit: cover;     /* Prevent image distortion */
    border-radius: 12px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.gallery img:hover {
    transform: scale(1.06);
    box-shadow: 0 12px 25px rgba(0,0,0,0.25);
}

/* Lightbox */
#lightbox {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.8);
    justify-content: center;
    align-items: center;
}

#lightbox img {
    width: 60%;
    max-height: 80vh;
    border-radius: 10px;
}

.close {
    position: absolute;
    top: 20px;
    right: 30px;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

.prev, .next {
    position: absolute;
    background: transparent;
    color: white;
    font-size: 40px;
    border: none;
    cursor: pointer;
}

.prev { left: 30px; }
.next { right: 30px; }
